@font-face {
  font-family: 'roca';
  font-optical-sizing: auto;
  font-display: swap;
  font-style: normal;
  src: url('/RocaRegular.woff') format("woff");
}

[data-theme="light"] {
  /* Light colors */
  --primary-bg: #FCEDEB;
  --secondary-bg: #F6D3CE;
  --third-bg: white;

  --primary-text: #252238;
  --secondary-text: #393557;
  --muted-text: #c6b9bd;
  
  --accent-1-primary: #eb4c3d;
  --accent-2-primary: #6d4eb1;
  
  --primary-border: #252238;
  --secondary-border: white;
  --focus-border: #252238;

  --toast-bg: #6d4eb1;
  --toast-text: #FCEDEB; 
}

[data-theme="dark"] {
  /* Dark colors */
  --primary-bg: #252238;
  --secondary-bg: #393557;
  --third-bg: #252238;

  --primary-text: #F6D3CE;
  --secondary-text: #7D6E82;
  --muted-text: #7D6E82;
  
  --accent-1-primary: #e94a4a;
  --accent-2-primary: #8961df;
  
  --primary-border: #7D6E82;
  --secondary-border: #393557;
  --focus-border: #7D6E82;

  --toast-bg: #6d4eb1;
  --toast-text: #FCEDEB;
}

:root {  

  /* Fluid typography */
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */
  /* 12.5px → 12.8px */
  --fontsize--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  /* 15px → 16px */
  --fontsize--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  /* 18px → 20px */
  --fontsize-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* 21.6px → 25px */
  --fontsize-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  /* 25.92px → 31.25px */
  --fontsize-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  /* 31.104px → 39.0625px */
  --fontsize-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  /* 37.3248px → 48.8281px */
  --fontsize-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  /* 44.7898px → 61.0352px */
  --fontsize-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  /* 53.7477px → 76.2939px */
  --fontsize-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);

  /* 
  // Typography variables
  */
  --font-body: 'EB Garamond', serif;
  --font-display: 'roca', sans-serif;
  --font-caps: 'lato', sans-serif;

  /* 
  // Typography utility helpers (u-)
  */
  .u-font-body {
    font-family: var(--font-body);
    text-transform: none;
    font-weight: 400;
    line-height: 1.35;
  }

  .u-font-display {
    font-family: var(--font-display);
    font-weight: normal;    
  }

  .u-subtitle {
    font-size: var(--fontsize--2);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-family: var(--font-caps);

    &.smaller {
      font-size: .7rem;
    }
  }

  .u-fontsize--2 {
    font-size: var(--fontsize--2);
  }
  
  .u-fontsize--1 {
    font-size: var(--fontsize--1);
  }
  
  .u-fontsize-0 {
    font-size: var(--fontsize-0);
  }
  
  .u-fontsize-1 {
    font-size: var(--fontsize-1);
  }
  
  .u-fontsize-2 {
    font-size: var(--fontsize-2);
  }
  
  .u-fontsize-3 {
    font-size: var(--fontsize-3);
  }
  
  .u-fontsize-4 {
    font-size: var(--fontsize-4);
  }
  
  .u-fontsize-5 {
    font-size: var(--fontsize-5);
  }
  
  .u-fontsize-6 {
    font-size: var(--fontsize-6);
  }

  /* 
  // Typography defaults
  */
  font-family: var(--font-body);
  color: var(--primary-text);

  h1, h2, h3, h4 {
    --font-family: var(--font-display);
    font-family: var(--font-family);
    text-wrap: balance;
  }

  p, blockquote, ul, ol, li, pre {
    --font-family: var(--font-body);
    font-family: var(--font-family);    
    font-size: var(--fontsize-0);
    text-wrap: balance;
  }

  a {
    color: var(--primary-text);
    text-decoration: none;
  }
  
  /*
  // Blocks of content
  */
  .u-wysiwyg {

    p {
      margin-block-end: var(--space-s);      
      text-wrap: wrap;
    }
  }  

  /*
  // Body
  */
  body {
    background-color: var(--primary-bg);
  }

  /* Orb */
  .orb {
    height: 10px;
    width: 10px;
    background-color: var(--accent-2-primary);
    border-radius: 50%;
  }
}

/* Light/dark theme fade */
[data-theme-fade] {
  transition-property: color, background-color, border-color, fill;
  transition-duration: .2s;
  transition-timing-function: ease;
}