.lum-logo {  
  /* Local variables with defaults */
  --colour: var(--orange);
  --brightness: var(--light);
  aspect-ratio: 5/4;
  position: relative;
  height: 175px;

  svg {
    /* Adjusting to keep SVG glow inside container bounding area. Not the prettiest but it works. */
    position: absolute;
    top: 18%;
    right: -14%;
    scale: 1.35;
  }

  &.pink {
    --colour: var(--pink);
  }

  &.purple {
    --colour: var(--purple);
  }

  &.green {
    --colour: var(--green);
  }

  &.dark {
    --colour: var(--dark);

    svg path#glow-path {
      display: none;
    }
  }

  svg path#us-path,
  svg path#glow-path {
    fill: var(--colour);
  }

  &.dark-logo {
    --brightness: var(--dark);
  }

  svg path#lumino-path {
    fill: var(--brightness);
  }
  
  svg path#glow-path {
    filter: blur(3px);
  }

  &.glowing svg path#us-path {
    animation: colour-pulse 9s linear infinite;
  }
  
  &.glowing svg path#glow-path {
    animation: glow 3s linear infinite, colour-pulse 9s linear infinite;
  }  
}

@keyframes glow {
  0% {filter: blur(0px);}
  50% {filter: blur(3px);}
  100% {filter: blur(0px);}
}

@keyframes colour-pulse {
  0% {fill: var(--orange);}
  30% {fill: var(--orange);}
  36% {fill: var(--purple);}
  63% {fill: var(--purple);}
  69% {fill: var(--green);}
  97% {fill: var(--green);}
  100% {fill: var(--orange);}
}