.main-nav-wrappper {
  container: main-nav / inline-size;  
}

.main-nav {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  gap: var(--space-l);

  .lum-logo {
    width: 100%;
    height: auto;
  }

  .main-nav__navigation {
    justify-self: end;
    display: grid;
    align-items: center;
    grid-auto-flow: column;

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      li:not(.main-nav__hamburger) {
        display: none;
      }
      
      li:not(:last-of-type) {
        margin-inline-end: var(--space-l);
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .main-nav__hamburger {

      .hamburger-button {
        padding: var(--space-xs);
        background-color: transparent;
        border: none;

        svg path {
          stroke: var(--dark);
        }
      }      
    }
  }

  .copy-email-wrapper {
    display: none;
  }
}

@container main-nav (inline-size >= 480px) {

  .main-nav {
    grid-template-columns: 100px 1fr;
  }  
}

@container main-nav (inline-size >= 900px) {

  .main-nav {
    grid-template-columns: 100px 1fr 418px;

    .copy-email-wrapper {
      display: initial;
    }
    
    .main-nav__navigation {

      ul {

        li:not(.main-nav__hamburger) {
          display: block;
        }

        .main-nav__hamburger {
          display: none;
        }
      }      
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  display: none;
  background-color: var(--purple);
  padding: var(--space-s);
  flex-direction: column;
  justify-content: space-between;

  .mobile-nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lum-logo {
    width: 100px;
    height: auto;
  }

  .close-button {
    padding: var(--space-xs);
    background-color: transparent;
    border: none;
  }

  ul {
    list-style: none;

    a {
      display: block;
      text-decoration: none;
    }
  }
}

.mobile-nav__visible {
  display: flex;
}