---
import BaseLayout from "../layouts/base-layout.astro"
---

<BaseLayout>
	<section class="home-hero-wrapper u-pad-b-3xl">
		<div class="u-container">
			<div class="home-hero u-flex">
				<div class="home-hero__intro">
					<img src="/sim_intro.svg" class="u-mrg-bs-s" alt="" role="presentation">
					<div>
						<h1 class="u-fontsize-6 u-font-display u-mrg-be-xs">A full-stack<br /> Product Designer</h1>
						<h2 class="u-fontsize-3 u-font-display u-mrg-be-l">who also codes and does creative generalist stuff and whatever</h2>
						<h3 class="u-fontsize-1 u-font-body u-mrg-be-2xl">I design human-centred, purpose-lead digital experiences with curious, can-do people. Seeking something real in the digital world. Nice to have you along.</h3>
						<div class="current-status u-flex">
							<div class="orb"></div>
							<p>Freelancing and up for working with you!</p>
						</div>
					</div>
				</div>
				<figure class="home-hero__image">					
					<img src="/sim_profile.png" alt="Graphic illustration of Sim smiling in a red shirt on a purple background">
					<figcaption class="u-pad-2xs u-subtitle smaller">Me but IRL I'm not a drawing</figcaption>
				</figure>
			</div>
		</div>
	</section>
</BaseLayout>

<style>

	.home-hero {		
		justify-content: space-between;
		align-items: end;

		.home-hero__intro {
			display: flex;
			align-items: start;
			gap: var(--space-xs);
			max-width: 800px;
			flex-basis: 70%;

			img {
				opacity: .4;
			}

			h1,
			h2 {
				color: var(--accent-1-primary);
			}

			h3 {
				width: 65%;
				text-wrap: pretty;
			}

			.current-status {
				gap: var(--space-2xs);
				align-items: center;
			}
		}		

		.home-hero__image {
			flex: 1;
			max-width: 400px;
			text-align: right;

			img {
				width: 100%;
				border-radius: 10px 10px 0px 10px;
				border: 2px solid var(--primary-border);
			}

			figcaption {
				display: inline-flex;
				background: var(--third-bg);
				border-radius: 0px 0px 10px 10px;
				border: 2px solid var(--secondary-border);
				border-top: none;
			}
		}
	}
	
</style>