main {
  padding: var(--space-s);
}

.home-hero {
  margin-block-start: var(--space-s);
  background-image: url('/images/bg-noise-dark.png');
  background-color: var(--dark);
  position: relative;
  overflow: hidden;

  .midi-1,
  .midi-2,
  .midi-3,
  .midi-5,
  .midi-6,
  .midi-7,
  .midi-8,
  .midi-9,
  .midi-10,
  .midi-11,
  .midi-12,
  .midi-13,
  .midi-14,
  .midi-15,
  .midi-16,
  .midi-17,
  .midi-18 {
    --top-position: 50dvh;
    --left-position: 50dvh;
    --midi-rotate: 0deg;
    --midi-inner-rotate: 0deg;

    position: absolute;
    top: var(--top-position);
    left: var(--left-position);
    rotate: var(--midi-rotate);
    /* Progressively turn them on */
    display: none;

    svg {
      rotate: var(--midi-inner-rotate);
    }
  }

  .midi-1 {
    --top-position: 20dvh;
    --left-position: -15dvw;
    display: block;
  }

  .midi-2 {
    --top-position: 10dvh;
    --left-position: 80dvw;
    --midi-inner-rotate: 73deg;
    display: block;
  }

  .midi-3 {
    --top-position: 60dvh;
    --left-position: 65dvw;
    --midi-rotate: 32deg;
    --midi-inner-rotate: 32deg;
    scale: 1 -1;
    display: block;
  }

  .midi-5 {
    --top-position: 40dvh;
    --left-position: 85dvw;
    --midi-rotate: 45deg;
    --midi-inner-rotate: 30deg;
    scale: 0.6 -0.6;
    display: block;
  }

  .midi-6 {
    --top-position: 85dvh;
    --left-position: 15dvw;
    --midi-rotate: -15deg;
    --midi-inner-rotate: 90deg;
    scale: 1 -1;
    display: block;
  }

  .midi-7 {
    --top-position: 70dvh;
    --left-position: 80dvw;
  }

  .midi-8 {
    --top-position: -8dvh;
    --left-position: 37dvw;
    --midi-rotate: -15deg;
    display: block;
  }

  .midi-9 {
    --top-position: 5dvh;
    --left-position: 10dvw;
    --midi-rotate: -60deg;
    --midi-inner-rotate: 25deg;
    display: block;
  }

  .midi-10 {
    --top-position: 90dvh;
    --left-position: 30dvw;
    --midi-rotate: 150deg;
    --midi-inner-rotate: -45deg;
  }

  .midi-11 {
    --top-position: 25dvh;
    --left-position: 70dvw;
    --midi-rotate: -30deg;
    --midi-inner-rotate: 90deg;
  }

  .midi-12 {
    --top-position: 50dvh;
    --left-position: 5dvw;
    --midi-rotate: 270deg;
    --midi-inner-rotate: 180deg;
    display: block;
  }

  .midi-13 {
    --top-position: 45dvh;
    --left-position: 60dvw;
    --midi-rotate: 120deg;
    --midi-inner-rotate: 90deg;
  }

  .midi-14 {
    --top-position: 77dvh;
    --left-position: 50dvw;
    --midi-rotate: -90deg;
    --midi-inner-rotate: -45deg;
    display: block;
  }

  .midi-15 {
    --top-position: 0dvh;
    --left-position: 63dvw;
    --midi-rotate: 180deg;
    --midi-inner-rotate: 90deg;
    scale: 0.3 -0.3;
    display: block;
  }

  .midi-16 {
    --top-position: 59dvh;
    --left-position: 38dvw;
    --midi-rotate: -60deg;
    scale: -0.6 0.6;
  }

  .midi-17 {
    --top-position: 33dvh;
    --left-position: -4dvw;
    --midi-rotate: -60deg;
    scale: -0.6 0.6;
  }

  .midi-18 {
    --top-position: 15dvh;
    --left-position: 32dvw;
    --midi-rotate: 50deg;
    scale: -0.3 0.3;
  }

  @media (min-width: 700px) {

    .midi-1 {
      --left-position: 50dvw;
    }

    .midi-6 {
      --top-position: 70dvh;
    }
    
    .midi-7,
    .midi-10,
    .midi-11,
    .midi-13,
    .midi-17,
    .midi-18 {
      display: block;
    }
  }

  @media (min-width: 1200px) {

    .midi-16 {
      display: block;
    }
  }

  .home-hero__intro {
    z-index: 100;
    position: relative;
    padding-block-start: calc(1.6*(var(--space-4xl)));
    padding-block-end: var(--space-3xl);

    h1 {
      color: var(--orange);
      line-height: 0.9;
      font-size: calc(1.3*(var(--fontsize-6)));
      text-shadow: 0px 0px 100px var(--orange);

      span {
        color: var(--light);        
        display: block;
        text-shadow: none;
      }
    }

    h2 {
      color: var(--light);
    }
  }

  .home-hero__badge {
    position: absolute;
    z-index: 100;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    right: -188px;;
    bottom: var(--space-3xl);
  }
}

.process {
  background-image: url('/images/bg-noise-dark.png');
  background-color: var(--dark);  
  /* Help keep it above the div below during gsap animation */
  position: relative; 
  z-index: 50;

  .process__heading {
    color: var(--light);
    text-align: center;
  }

  .process__cards {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }
}

.manifesto {
  background-image: url('/images/bg-noise-dark.png');  
  background-color: var(--dark);
  color: var(--light);
  /* work around for buggy white line that sometimes appears */
  transform: translateY(-1px);

  .manifesto__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  .manifesto__midis {
    flex: 1;
    text-align: center;
    display: none;

    @media only screen and (min-width: 800px) {
      display: block;
    }

    /* This doesn't get applied because of CSS Modules :( */
    .midi {
      position: absolute;
      top: var(--top-position);
      left: var(--left-position);
    }

    .midi-bottom {
      /* These values need tweaking once they're applied properly. See above */
      --top-position: 50%;
      --left-position: 50%;
    }    
  }
}