---
import BaseLayout from "../layouts/base-layout.astro"
import WorkList from "../components/work-list.astro"
---

<BaseLayout
  metaTitle="Product Designer in Bristol, UK | Sim Seneca"
  description="I'm a Product Designer who loves solving customer problems, thinking in systems and sometimes committing code. Living life here in Bristol, UK."
>

  <section class="work-wrapper u-mrg-be-3xl">
    <div class="u-container">
      <div class="work-inner">
        <div class="work-intro u-pad-bs-3xl u-pad-be-2xl">
          <h1 class="u-font-display u-fontsize-3">            
            A few things I've worked on.
          </h1>
        </div>
        <WorkList />
        <p class="note u-pad-bs-xs">Feb '25: Woah these take a long time to put together! I'll keep adding but just get in touch if you want to see any more designs in the meantime and I can sort that for you...</p>
      </div>
    </div>
  </section>
	
</BaseLayout>

<style>

  .work-wrapper {
    
    .work-intro {
      color: var(--accent-2);
    }

    .note {
      color: var(--text-secondary);
    }
  }
 
</style>