---
import { SmallEmail } from "./small-email.tsx"
import ThemeToggle from "./theme-toggle.astro"
---

<div class="u-container">
  <header class="main-header">    
    <nav class="main-nav" aria-label="Main navigation">
      <ul class="main-nav__menu" role="menu">
        <li class="logo">
          <a href="/" class="u-font-display" aria-label="Sim Seneca Home">Sim Seneca</a>
        </li>
        <li role="none">
          <a href="/blog" role="menuitem" class="u-subtitle">
            <span>Blog</span>
          </a>
        </li>
        <li role="none">
          <button role="menuitem" aria-disabled="true" tabindex="-1" class="u-subtitle disabled-link" disabled>Work</button>
        </li>
        <li role="none">
          <button role="menuitem" aria-disabled="true" tabindex="-1" class="u-subtitle disabled-link" disabled>About</button>
        </li>
      </ul>
    </nav>  
    <nav class="secondary-nav" aria-label="Contact navigation">
      <ul class="secondary-nav__menu" role="menu">
        <li>
          <SmallEmail client:load />
        </li>
        <li>
          <a href="https://read.cv/simseneca" class="u-subtitle" role="menuitem">
            <span>read.cv</span>
          </a>
        </li>
        <li>
          <ThemeToggle client:load />
        </li>
      </ul>
    </nav>
  </header>
</div>

<style>
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--primary-border);
  }

  .main-nav,
  .secondary-nav {
    display: flex;
    flex-direction: row;
    padding: var(--space-m) 0;
  }

  .main-nav__menu,
  .secondary-nav__menu {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;

    li {
      margin-right: var(--space-s);

      &:last-of-type {
        margin-right: 0;        
      }

      &.logo a {
        font-size: var(--fontsize-1);
        margin-right: var(--space-m);

        &:hover {
          color: var(--accent-2-primary);
        }
      }      

      button.disabled-link:disabled {
        padding-inline: var(--space-xs);
        position: relative;
        color: var(--muted-text);        
        
        &::after {
          content: 'Working on it...';
          display: none;
          white-space: nowrap;
          position: absolute;
          left: -50%;
          top: 40px;
          border-radius: 7px;
          background-color: var(--toast-bg);
          color: var(--toast-text);
          padding: var(--space-xs);
          font-size: .8rem;
          border: 2px solid var(--primary-border);
        }

        &:hover::after {
          display: inline-flex;
        }
      }
    }
  }

  .secondary-nav {
    align-items: baseline;
    padding-left: var(--space-s);
    border-left: 2px solid var(--primary-border);

    li {
      margin-right: var(--space-2xs);
    }

    button[data-theme-toggle] {    
      transform: translateY(12px);
    }
  }
</style>