.printer-status-toast {
  position: fixed;
  bottom: var(--space-m);
  right: var(--space-m);
  z-index: 1000;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-xs) var(--space-s);
  border-radius: 10px;
  border: 2px solid var(--border-primary);
  background-color: var(--bg-fourth);
  /* background: rgba(96, 53, 122, 1); */
  color: var(--text-primary);
  font-size: var(--fontsize-0);
  animation: printer-status-toast-in 0.2s ease;

  .printer-status-toast__header {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
  }

  .printer-status-toast__title {
    color: var(--green-action);
  }

  .printer-status-toast__dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--green-action);
  }
}

@keyframes printer-status-toast-in {
  from {
    opacity: 0;
    bottom: 0px;
  }
  to {
    opacity: 1;
    bottom: var(--space-m);
  }
}
