.receipt-section {
  padding-top: 9vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "form"
    "illustration";
  margin-bottom: 7rem;
}

@media (min-width: 800px) {
  .receipt-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header   illustration"
      "form     illustration";
  }
}

.receipt-section__header {
  grid-area: header;
  align-self: start;
  max-width: 500px;
  transition: all .15s ease;

  h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: clamp(2rem, 5vw, 3.5rem);
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--lilac);
    color: transparent;
    line-height: 100%;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  p {
    font-family: "Instrument Sans", sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.1rem);
    line-height: clamp(1.4rem, 2vw, 1.6rem);
  }

  p:not(last-of-type) {
    margin-bottom: 1rem;
  }
}

@media (min-width: 800px) {
  .receipt-section__header {
    margin-bottom: 10vh;
  }
}

.receipt-section__form {
  grid-area: form;
  align-self: end;
  position: relative;
  margin-top: 4vh;
  max-width: 500px;

  .receipt-section__form-description {
    font-family: "Instrument Sans", sans-serif;
    font-size: .9rem;
    color: var(--lilac);
    opacity: .8;
    /* Absolute position means it's variable height doesn't affect the alignment of the illustration */
    position: absolute;
    bottom: -3.5rem;
    left: 0;
    height: 40px;
  }
}

@media (min-width: 800px) {
  .receipt-section__form {
    margin-top: 0;
  }
}

.receipt-section__illustration {
  grid-area: illustration;
  align-self: end;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: calc(-1 * var(--container-padding));
  margin-top: 3rem;

  img {
    width: 100%;
    max-width: 300px;
    pointer-events: none;
  }

  .receipt-section__illustration-lottie {
    transform: translateY(-3px);
    pointer-events: none;
    max-width: 300px;
  }

  .receipt-section__illustration-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 60%;
    background: linear-gradient(111deg, #60357A 13.91%, #524592 88.68%);
    z-index: -1;
    border-radius: 100%;
    opacity: .3;
  }
}

@media (min-width: 800px) {
  .receipt-section__illustration {
    display: block;
    margin-left: 0;
    margin-top: 0;

    img,
    .receipt-section__illustration-lottie {
      max-width: 450px;
    }

    .receipt-section__illustration-background {
      left: -10%;
      transform: none;
    }
  }
}

/* On not idle state */
.receipt-section--error,
.receipt-section--success {

  .receipt-section__header,
  .receipt-section__form-description {
    transition: all .2s ease-in-out;
    opacity: .3;
  }
}
