.receipt-section {
  padding-top: 9vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header   illustration"
    "form     illustration";
  margin-bottom: 10vh;
}

.receipt-section__header {
  grid-area: header;
  align-self: start;
  max-width: 600px;
  margin-bottom: 10vh;
  transition: all .15s ease;

  h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--lilac);
    color: transparent;
    line-height: 100%;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  p {
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  p:not(last-of-type) {
    margin-bottom: 1rem;
  }
}

.receipt-section__form {
  grid-area: form;
  align-self: end;

  .receipt-section__form-description {
    font-family: "Instrument Sans", sans-serif;
    font-size: .9rem;
    margin-top: 1.3rem;
    color: var(--lilac);
    opacity: .8;
  }
}

.receipt-section__illustration {
  grid-area: illustration;
  align-self: end;
}

/* On Error state */
.receipt-section--error {

  .receipt-section__header {
    transition: all .2s ease-in-out;
    opacity: .3;
    transform: translateY(10px);
  }
}