.small-email {
  height: 34px;

  &.hovered {
    cursor: pointer;
    text-decoration: underline;
  }

  .small-email__button {
    display: flex;
    flex-direction: row;
    gap: var(--space-2xs);
    align-items: center;
    background-color: transparent;
    border: none;
    transition: 2s ease background-color;
    border-radius: 5px;
    color: var(--primary-text);

    svg path {
      fill: var(--primary-text);
    }

    &.hovered {
      cursor: pointer;
      color: var(--accent-2-primary);

      svg path {
        fill: var(--accent-2-primary);
      }
    }

    &.copied {
      cursor: pointer;
      /* TODO */
      background: var(--secondary-bg);
      transition-duration: 0.3s;
    }    

    address {
      /* Override italic browser default */
      font-style: normal;
      font-size: var(--fontsize-1);
    }

    svg { 
      width: 20px;
      height: 20px;
    }
  }
}

.copied-email-toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--toast-bg);
  color: var(--toast-text);
  border-radius: 10px;
  border: 2px solid var(--primary-border);
  z-index: 1000;
  animation: fadeInOut 2.5s ease;
  display: flex;
  gap: var(--space-2xs);
  align-items: baseline;

  .copied-email-toast__email {    
    color: var(--white);
  }
}

@keyframes fadeInOut {
  0%, 100% { 
    opacity: 0;
    bottom: 0px;
  }
  30%, 70% { 
    opacity: 1; 
    bottom: 20px;
  }
}