.songs-for-fun {
  display: flex;    

  a {
    border: 1px solid var(--navy-lighter);
    border-right: 0;
    border-radius: 10px 0px 0px 10px;
    font-style: italic;

    &:hover {
      color: var(--navy-lightest);
      border-color: var(--navy-lightest);
      text-decoration: underline;
    }
  }

  button {
    background-color: var(--navy-lighter);
    border-radius: 0px 10px 10px 0px;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--navy-lightest);  
    }
  }
}