---
import MainHead from '../components/main-head.astro';
import Nav from '../components/nav.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<Nav />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	body {
		background-color: var(--beige);
	}
</style>
